<div>
    <form [formGroup]="registerForm">
        <label>First Name</label>
        <input type="text" formControlName="firstName" placeholder="Your name..">

        <label>Last Name</label>
        <input type="text" formControlName="lastName" placeholder="Your last name..">

        <label>Country</label>
        <select name="country" formControlName="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>
        <button (click)="onSubmit()"> Submit</button>
    </form>
</div>

dirty? {{ registerForm.dirty }}
